.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  max-width: 600px;
  margin: 100px auto;
  padding: 15px;
  gap: 10px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}
